main{   
    width: 650px;
    margin: auto;
}
.dashed-line{
    border: 7px dashed black;
    margin: 20px;
    width: 21x;
}
.style3 {
  border: 2px black;
  border-top-style: solid;
}
  .style2 {
    border: 2px black;
    border-bottom-style: solid;
}
  .style1 {
    border: 2px black;
    border-top-style: solid;
    border-bottom-style: solid;
}

  th, td {
    padding: 0px;
  }

  .table-header{
    margin-top: 50px;
  }
  .garis_tepi1 {
    border: 2px solid black;
  }

  .sample-nth tr:nth-child(even) {
    background-color: #AFEEEE;
  }
